
:root {
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

body{
    font-size: 15px;
    font-family: Outfit;
    background-color: var(--Grayish_blue);
}
#container{
    margin: 0% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);

}

#QRcode{
    margin: 29px;
    /* size: auto; */
    width: 80%;
}

.border-round{
    border-radius: 10%;
}

span{
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.boldtext{
    font-weight: 700;
}

.simpletext{
    font-weight: 400;
}

